* {
    box-sizing: border-box;
}

.board {
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 8px;    
    $box-shadow: 0 4px 6px hsla(0, 0, 0, .1);
    margin: 16px;    
}

.container {
    max-width: 500px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 1px 14px 26px hsla(0, 0%, 0%, 0.2);
    margin: 16px;
    padding: 8px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding: 0 0 5px 0;
}

.title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    flex-grow: 1;
}

.container_input,
.group.title  {
	padding: 0 4px 0 0;
	flex: 4 1 auto;
}

.group .main {
    flex:1 1 auto;
}
.button_close {
    color:#000;
}
.button_close:hover {
    background: #800000 !important;
    color:#4d4d4d !important;
}